body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


td {

    border: 1px solid lightgray;
    margin: 0;
    padding: 0;
    height: 8px;
    width: 8px;
    font-size: 8px;
}

tr {
    margin: 0;
    padding: 0;
}

table {
  /*background-image: url("http://farm3.static.flickr.com/2073/1555493241_539f71f7bc_o.jpg");*/
  border-spacing: 0;
  border-collapse: collapse;
}

.player{
  background-color: #F8F023;
  background: #F8F023;
}
