html, body {
    width: 100%;
    background-color: #3FE2FF;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


td {
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 0;
    height: 12px;
    width: 12px;
    font-size: 8px;
}

tr {
    margin: 0;
    padding: 0;
}

table {
  background-image: url("./background.png");
  
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}



